*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    background-color: #589A3D;
    text-align: center;
}

h1{
    margin-top: 30px;
    color: #f8e732;
    font-family:cursive;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 8vmin;
    color: #808000;
    background-color: rgb(246, 246, 110)


}


#reset-btn{
    padding: 0.8rem;
    font-size: 1.25rem;
    background-color:rgb(246, 246, 110);
    color:rgb(112, 87, 87);
    border-radius: 0.5rem;
    border: none;
}


#new-btn{
     padding: 0.5rem;
    font-size: 1.25rem;
    background-color:rgb(246, 246, 110);
    color:rgb(112, 87, 87);
    border-radius: 0.5rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
    margin-bottom: 20px;
    text-align: center;
}

.msg-container{
    height: 25vmin;
}

.hide{
    display: none;
}